<%= form_for(lecture) do |f| %>
<% if lecture.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(lecture.errors.count, "error") %>
    prohibited this lecture from being saved:</h2>

  <ul>
    <% lecture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="well">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <!-- <%= f.text_field :content %> -->
    <div>
      <%= f.text_area :content, :class => 'ckeditor' %>
    </div>
  </div>

  <!-- <div class="field">
    <%= f.label :attachment %>
   <%= f.file_field :attachment %>
  </div> -->

  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
    <% if f.object.attachment? %>
    <%= link_to "Download Attachment", f.object.attachment_url %>
    <%= f.label :remove_attachment %>
    <%= f.check_box :remove_attachment %>
    <% end %>
  </div>

  <div class="field">
    <!-- <%= f.label :course_id %> -->
    <%= f.hidden_field :course_id,value:params['course_id'] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
