<!-- <br><br><br><br> -->
<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-6">
    <%= render 'shared/user_info' %>
  </div>
  <!-- <div class="col-lg-6"></div> -->

  <div class="col-lg-6">
    <% if is_current_user?(@user) %>
      <div class="well">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
          <li><%= link_to 'Change password', edit_user_registration_path %></li>
          <li><%= link_to 'Deactivate', cancel_user_registration_path(@user) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
