<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= @user.name %></h5>
    <h5><%=  @user.email %></h5>
    <h5><%=  @user.role.name %></h5>
  </div>
  <h5>
    <%= fa_icon 'shield' %>
    <!-- <%= pluralize(@user.courses.all, 'course') %> -->
  </h5>
  <% if @user.dob.present? %>
  <div class="text-center">
    <h5>
      <%= fa_icon @user.gender %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
  </div>
  <% end %>

  <% if current_user != @user %>
  <div class="text-center">
    <%= button_to 'Courses', my_courses_path(@user), method: :get %>
    <%= button_to 'Lectures', my_lectures_path(@user), method: :get %>
  </div>
  <% end %>

  <br>

</div>
